Email.properties
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
DBConfig.properties
/BBS3.iml
/src/main/resources/properties/DBConfig.properties
/src/main/resources/properties/Email.properties
