.nav-wrap {
  background-color: #FFF;
  height: 50px;
  width: 100%;
  box-shadow: 0 8px 16px 0 rgba(7,17,27,.2);

  .search-box {
    margin: 10px 0;
    float: left;
    .navbar-search{
      position: relative;
      input {
        width: 260px;
        height: 32px;
      }
      .search-box-dropdown {
        position: absolute;
        top: 109%;
        width: 335px;
        z-index: 1000;

        .btn {
          font-size: 10px;
          padding: 3px 7px;
        }
      }
    }
  }

  .nav-menu {
    margin: 0;
    border: none;
    float: left;
    font-size: 15px;
    background-color: transparent;
    .nav {
      li {
        .active {
          background-color: #fff;
          font-weight: bold;
          color: darken(#333, 50%);
        }
        .active:after {
          content: "";
          position: absolute;
          bottom: -5px;
          z-index: 400;
          left: 50%;
          margin-left: -5px;
          border-width: 5px 5px 0 5px;
          border-style: solid;
          border-color: #fff transparent;
          display: block;
          width: 0;
        }
        a {
          background-color: #fff;
          color: #636363;
        }
        a:hover {
          background-color: #fff;
          font-weight: bold;
          color: darken(#333, 50%);
        }
      }
    }
  }

  .nav-user {
    float: right;
    margin-top: 10px;
    $btm_padding: 22px;
    .btn {
      padding-left: $btm_padding;
      padding-right: $btm_padding;
      border-radius: 0;
    }

    .avatar-wrap{
      .avatar{
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-top: -5px;
        &:hover{
          border: 2px solid #e40000;
        }
      }
    }
  }

  .dropdown{
    .dropdown-menu{
      width: 306px;
      height: 318px;
      right: -50%;
      left: auto;
      top: 109%;
      border: none;
      border-radius: 0 0 10px 10px;
      border-top: 0;
      box-shadow: 0 8px 16px 0 rgba(7,17,27,.2);
    }
  }
}