.post-modal{
  .editor{
    padding: 10px;
  }
  .note-editor{
    margin-bottom: 0 !important;
  }
  .post-form-wrap{
    position: relative;
  }
}

.uploading-img{
  bottom: 50px;
  right: 25px;
  position: absolute;
}
