@import "variable";


#global-search-btn {
  position: absolute;
  top: 7px;
  right: 8px;
  font-size: 16px;
  color: #999;
}

a{
  cursor: hand !important;
}

body {
  background-color: $background-color;
}
@media (max-width: $screen-sm) {
  .fade-nav{
    height: 50px !important;
  }
  .nav-wrap{
    background-color: #FFF !important;
    top: 0 !important ;
    position: fixed !important;
    z-index: 1000 !important;
    border-bottom: $border1 !important;

    .navbar-collapse {
      z-index: 999 !important;
      position: absolute !important;
      width: 120px;
      left: -15px !important;
      top: 49px !important;
      background-color: #FFF !important;
      border: $border1 !important;
    }
    .nav-menu{
      .nav{
        li{
          .active{
            background-color: #666 !important;
            color: rgb(244, 241, 241) !important;
          }
        }
      }
    }
  }
  .container-wrap{
    margin-top: 0 !important;
    .container{
      padding: 0;
    }
    .content-wrap{
      border: none !important;
      border-radius: 0 !important;

      .main-content{
        border-right: none !important;
      }
    }
    /*.tab-content{
      padding: 10px !important;
    }*/
  }
}
@media (max-width: $screen-md) {
  .container{
    width: 100% !important;
  }
}
@media (max-width: $screen-lg) {

}

.position-relative{
  position: relative;
}

.container{
  width: 990px;
}


.container-wrap {
  background: transparent;
  margin-top: 30px;

  .content-wrap {
    border: $border1;
    border-radius: 5px;
    background-color: #FFF;
    .main-content {
      padding-top: 30px;
      border-right: $border1;

    }
    .side-bar {

    }
  }
}

.footer-wrap {
  height: 300px;
  .footer {
    height: 50px;
    padding: 15px 0;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
  }
}

.nav-justified{
  @media all {
    li{
      display: table-cell;
      width: 1%;
      a{
        margin-bottom: 0;
      }
    }
  }
}

.nav-pills{
  border-radius: 5px;
  $height: 50px;
  $padding: 5px;
  padding: $padding;
  background-color: #eeeeee;

  li{
    cursor: pointer;
    padding: 0 1px;
    background-color: transparent;
    a{
      cursor: pointer;
      padding: 0;
      line-height: $height - $padding*2;
      color: lighten(#0f0f0f,30%);
      &:hover{
        color: #0f0f0f;
        background-color: #FFF;
      }
    }
  }
  .active{
    a{
      color: #0f0f0f !important;
      background-color: #FFF !important;
    }
  }
}

.page-select{
  $padding: 3px;
  $height: 40px;
  padding: $padding;
  height: $height;
  li{
    height: auto;
    a{
      line-height: $height - $padding*2;
      padding: 0;
    }
  }
}



