#global-search-btn {
  position: absolute;
  top: 7px;
  right: 8px;
  font-size: 16px;
  color: #999; }

body {
  background-color: #ededed; }

@media (max-width: 768px) {
  .fade-nav {
    height: 50px !important; }

  .nav-wrap {
    background-color: #FFF !important;
    top: 0 !important;
    position: fixed !important;
    z-index: 1000 !important;
    border-bottom: 1px solid #e6e6e6 !important; }
    .nav-wrap .navbar-collapse {
      z-index: 999 !important;
      position: absolute !important;
      width: 120px;
      left: -15px !important;
      top: 49px !important;
      background-color: #FFF !important;
      border: 1px solid #e6e6e6 !important; }
    .nav-wrap .nav-menu .nav li .active {
      background-color: #666 !important;
      color: #f4f1f1 !important; }

  .container-wrap {
    margin-top: 0 !important;
    /*.tab-content{
      padding: 10px !important;
    }*/ }
    .container-wrap .container {
      padding: 0; }
    .container-wrap .content-wrap {
      border: none !important;
      border-radius: 0 !important; }
      .container-wrap .content-wrap .main-content {
        border-right: none !important; } }
@media (max-width: 992px) {
  .container {
    width: 100% !important; } }
.position-relative {
  position: relative; }

.container {
  width: 990px; }

.nav-wrap {
  background-color: #FFF;
  height: 50px;
  width: 100%; }
  .nav-wrap .search-box {
    margin: 10px 0;
    position: relative;
    float: left; }
    .nav-wrap .search-box input {
      width: 260px;
      height: 32px; }
    .nav-wrap .search-box .dropdown {
      position: absolute;
      top: 105%;
      width: 335px;
      z-index: 1000; }
      .nav-wrap .search-box .dropdown .btn {
        font-size: 10px;
        padding: 3px 7px; }
  .nav-wrap .nav-menu {
    margin: 0;
    border: none;
    float: left;
    font-size: 15px;
    background-color: transparent; }
    .nav-wrap .nav-menu .nav li .active {
      background-color: #fff;
      font-weight: bold;
      color: black; }
    .nav-wrap .nav-menu .nav li .active:after {
      content: "";
      position: absolute;
      bottom: -5px;
      z-index: 400;
      left: 50%;
      margin-left: -5px;
      border-width: 5px 5px 0 5px;
      border-style: solid;
      border-color: #fff transparent;
      display: block;
      width: 0; }
    .nav-wrap .nav-menu .nav li a {
      background-color: #fff;
      color: #636363; }
    .nav-wrap .nav-menu .nav li a:hover {
      background-color: #fff;
      font-weight: bold;
      color: black; }
  .nav-wrap .nav-user {
    float: right;
    margin-top: 10px; }
    .nav-wrap .nav-user .btn {
      padding-left: 22px;
      padding-right: 22px;
      border-radius: 0; }
    .nav-wrap .nav-user .login-form-wrap {
      border: 1px solid #e6e6e6;
      position: absolute;
      background-color: #FFF;
      padding: 20px;
      top: 40px;
      left: -128px;
      width: 300px;
      z-index: 1000; }
      .nav-wrap .nav-user .login-form-wrap .input-group {
        margin-bottom: 20px; }
    .nav-wrap .nav-user .arrow-up {
      position: absolute;
      z-index: 1000;
      top: 36px;
      left: 45%;
      width: 8px;
      height: 8px;
      border-left: 1px solid #e6e6e6;
      border-top: 1px solid #e6e6e6;
      transform: rotate(45deg);
      background-color: #FFF; }

.container-wrap {
  background: transparent;
  margin-top: 30px; }
  .container-wrap .content-wrap {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    background-color: #FFF; }
    .container-wrap .content-wrap .main-content {
      padding-top: 30px;
      border-right: 1px solid #e6e6e6; }

.footer-wrap {
  height: 50px; }
  .footer-wrap .footer {
    height: 50px;
    padding: 15px 0;
    text-align: center;
    font-size: 12px;
    color: #828282; }

.container-wrap .content-wrap .main-content .post-list {
  margin-bottom: 20px; }
  .container-wrap .content-wrap .main-content .post-list .post-item {
    position: relative;
    padding-top: 20px;
    border-bottom: 1px solid #eeeeee; }
    .container-wrap .content-wrap .main-content .post-list .post-item .avatar {
      position: absolute;
      float: left;
      display: block; }
      .container-wrap .content-wrap .main-content .post-list .post-item .avatar img {
        border-radius: 5px;
        height: 50px;
        width: 50px; }
    .container-wrap .content-wrap .main-content .post-list .post-item .post-content {
      width: 100%;
      float: left;
      padding-left: 70px; }
      .container-wrap .content-wrap .main-content .post-list .post-item .post-content .post-title {
        font-size: 15px; }
      .container-wrap .content-wrap .main-content .post-list .post-item .post-content .post-sub {
        color: #999;
        font-size: 12px; }
      .container-wrap .content-wrap .main-content .post-list .post-item .post-content .content {
        font-size: 16px; }
      .container-wrap .content-wrap .main-content .post-list .post-item .post-content .date {
        color: #6e6e6e; }

/*# sourceMappingURL=index.css.map */
