#global-search-btn {
  position: absolute;
  top: 7px;
  right: 8px;
  font-size: 16px;
  color: #999; }

body {
  background-color: #ededed; }

@media (max-width: 768px) {
  .fade-nav {
    height: 50px !important; }

  .nav-wrap {
    background-color: #FFF !important;
    top: 0 !important;
    position: fixed !important;
    z-index: 1000 !important;
    border-bottom: 1px solid #e6e6e6 !important; }
    .nav-wrap .navbar-collapse {
      z-index: 999 !important;
      position: absolute !important;
      width: 120px;
      left: -15px !important;
      top: 49px !important;
      background-color: #FFF !important;
      border: 1px solid #e6e6e6 !important; }
    .nav-wrap .nav-menu .nav li .active {
      background-color: #666 !important;
      color: #f4f1f1 !important; }

  .container-wrap {
    margin-top: 0 !important;
    /*.tab-content{
      padding: 10px !important;
    }*/ }
    .container-wrap .container {
      padding: 0; }
    .container-wrap .content-wrap {
      border: none !important;
      border-radius: 0 !important; }
      .container-wrap .content-wrap .main-content {
        border-right: none !important; } }
@media (max-width: 992px) {
  .container {
    width: 100% !important; } }
.position-relative {
  position: relative; }

.container {
  width: 990px; }

.nav-wrap {
  background-color: #FFF;
  height: 50px;
  width: 100%;
  box-shadow: 0 8px 16px 0 rgba(7, 17, 27, 0.2); }
  .nav-wrap .search-box {
    margin: 10px 0;
    position: relative;
    float: left; }
    .nav-wrap .search-box input {
      width: 260px;
      height: 32px; }
    .nav-wrap .search-box .dropdown {
      position: absolute;
      top: 105%;
      width: 335px;
      z-index: 1000; }
      .nav-wrap .search-box .dropdown .btn {
        font-size: 10px;
        padding: 3px 7px; }
  .nav-wrap .nav-menu {
    margin: 0;
    border: none;
    float: left;
    font-size: 15px;
    background-color: transparent; }
    .nav-wrap .nav-menu .nav li .active {
      background-color: #fff;
      font-weight: bold;
      color: black; }
    .nav-wrap .nav-menu .nav li .active:after {
      content: "";
      position: absolute;
      bottom: -5px;
      z-index: 400;
      left: 50%;
      margin-left: -5px;
      border-width: 5px 5px 0 5px;
      border-style: solid;
      border-color: #fff transparent;
      display: block;
      width: 0; }
    .nav-wrap .nav-menu .nav li a {
      background-color: #fff;
      color: #636363; }
    .nav-wrap .nav-menu .nav li a:hover {
      background-color: #fff;
      font-weight: bold;
      color: black; }
  .nav-wrap .nav-user {
    float: right;
    margin-top: 10px; }
    .nav-wrap .nav-user .btn {
      padding-left: 22px;
      padding-right: 22px;
      border-radius: 0; }
    .nav-wrap .nav-user .avatar-wrap .avatar {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin-top: -5px; }
      .nav-wrap .nav-user .avatar-wrap .avatar:hover {
        border: 2px solid #e40000; }
  .nav-wrap .dropdown .dropdown-menu {
    width: 306px;
    height: 318px;
    right: -50%;
    left: auto;
    top: 120%;
    border: none;
    border-radius: 0 0 10px 10px;
    border-top: 0;
    box-shadow: 0 8px 16px 0 rgba(7, 17, 27, 0.2); }

.container-wrap {
  background: transparent;
  margin-top: 30px; }
  .container-wrap .content-wrap {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    background-color: #FFF; }
    .container-wrap .content-wrap .main-content {
      padding-top: 30px;
      border-right: 1px solid #e6e6e6; }

.footer-wrap {
  height: 300px; }
  .footer-wrap .footer {
    height: 50px;
    padding: 15px 0;
    text-align: center;
    font-size: 12px;
    color: #ffffff; }

@media all {
  .nav-justified li {
    display: table-cell;
    width: 1%; }
    .nav-justified li a {
      margin-bottom: 0; } }

.nav-pills {
  border-radius: 5px;
  padding: 5px;
  background-color: #eeeeee; }
  .nav-pills li {
    cursor: pointer;
    padding: 0 1px;
    background-color: transparent; }
    .nav-pills li a {
      cursor: pointer;
      padding: 0;
      line-height: 40px;
      color: #5c5c5c; }
      .nav-pills li a:hover {
        color: #0f0f0f;
        background-color: #FFF; }
  .nav-pills .active a {
    color: #0f0f0f !important;
    background-color: #FFF !important; }

.page-select {
  padding: 3px;
  height: 40px; }
  .page-select li {
    height: auto; }
    .page-select li a {
      line-height: 34px;
      padding: 0; }

#login-model {
  margin-top: 50px; }
  #login-model .modal-sm {
    width: 400px;
    margin-top: 100px; }
    @media (max-width: 768px) {
      #login-model .modal-sm {
        margin-top: 20px;
        width: 95%; } }
  #login-model .modal-content {
    border-radius: 0; }
    #login-model .modal-content .close {
      padding-right: 5px;
      padding-top: 5px;
      font-size: 26px; }
    #login-model .modal-content .modal-header {
      color: #FFF;
      background-color: #0f88eb;
      padding-left: 50px;
      padding-right: 50px; }
      #login-model .modal-content .modal-header .modal-title {
        font-weight: bold; }
        #login-model .modal-content .modal-header .modal-title .subTitle {
          color: #FFF; }
    #login-model .modal-content .modal-body {
      padding: 50px; }
      #login-model .modal-content .modal-body .form-wrap {
        margin-top: 0 !important; }
        #login-model .modal-content .modal-body .form-wrap .logo {
          padding-bottom: 50px;
          text-align: center; }
        #login-model .modal-content .modal-body .form-wrap .form-group {
          position: relative; }
          #login-model .modal-content .modal-body .form-wrap .form-group .form-item-wrap {
            padding: 0; }
          #login-model .modal-content .modal-body .form-wrap .form-group input {
            padding: 8px 8px 8px 30px;
            box-shadow: none;
            border-style: none;
            border-bottom: 1px solid #e6e6e6;
            border-radius: 0;
            font-size: 15px;
            height: 42px; }
            #login-model .modal-content .modal-body .form-wrap .form-group input:focus {
              transition: 1s;
              border-bottom: 1px solid #0f88eb; }
          #login-model .modal-content .modal-body .form-wrap .form-group .input-before {
            top: 15px;
            left: 10px;
            position: absolute;
            color: #4c4c4c;
            opacity: 0.8; }
          #login-model .modal-content .modal-body .form-wrap .form-group .input-after {
            top: 7px;
            right: 24px;
            position: absolute; }
            #login-model .modal-content .modal-body .form-wrap .form-group .input-after .get-reg-code-btn {
              padding: 5px;
              height: auto;
              color: #FFF;
              background-color: #3f89ec;
              border: none; }
            #login-model .modal-content .modal-body .form-wrap .form-group .input-after .active {
              color: #c3ded9;
              opacity: 0.5; }
        #login-model .modal-content .modal-body .form-wrap #ver-code {
          border: 1px solid #9c9c9c; }
        #login-model .modal-content .modal-body .form-wrap .btn {
          background-color: #0f88eb;
          border: 1px solid #0f88eb;
          font-size: 16px;
          color: #e8e8e8; }
          #login-model .modal-content .modal-body .form-wrap .btn:hover {
            color: #FFF;
            border: 1px solid #0f92f7; }

.fixed-btn-group {
  z-index: 1049;
  position: fixed;
  bottom: -50px;
  right: 20px; }
  .fixed-btn-group li {
    position: relative;
    margin-bottom: 10px; }
    .fixed-btn-group li:last-child {
      margin-bottom: 0; }
    .fixed-btn-group li a {
      text-align: center;
      color: #a6a6a6;
      width: 50px;
      height: 40px;
      font-size: 20px;
      background-color: #d9d9d9;
      border-radius: 3px; }
    .fixed-btn-group li .back-to-top-btn {
      padding-left: 10px; }
    .fixed-btn-group li .tooltip {
      position: absolute;
      /*top: 60px !important;
      left: -74px !important;*/ }

.modal-open .fixed-btn-group {
  display: none; }

@media (max-width: 768px) {
  .container-wrap .content-wrap .main-content .reply-content .item-content {
    padding-left: 0 !important; }
  .container-wrap .content-wrap .main-content .reply-content .reply-comment-wrap {
    padding-left: 0 !important; } }
.container-wrap .content-wrap .main-content {
  padding-bottom: 30px; }
  .container-wrap .content-wrap .main-content .post-title {
    margin-top: -10px; }
  .container-wrap .content-wrap .main-content .content img {
    max-width: 100% !important; }
  .container-wrap .content-wrap .main-content .post-content .footer {
    color: #999;
    font-size: 12px;
    margin-top: 20px; }
    .container-wrap .content-wrap .main-content .post-content .footer a {
      color: inherit; }
    .container-wrap .content-wrap .main-content .post-content .footer span:first-child {
      padding-left: 0; }
    .container-wrap .content-wrap .main-content .post-content .footer span {
      padding-left: 10px; }
  .container-wrap .content-wrap .main-content .reply-content .reply-head {
    border-bottom: 1px solid #e6e6e6;
    padding-top: 50px; }
  .container-wrap .content-wrap .main-content .reply-content .reply-list .reply-item {
    padding-top: 20px;
    border-top: 1px solid #e6e6e6;
    padding-bottom: 20px; }
    .container-wrap .content-wrap .main-content .reply-content .reply-list .reply-item:first-child {
      border-top: none; }
    .container-wrap .content-wrap .main-content .reply-content .reply-list .reply-item .avatar {
      display: block;
      float: left;
      width: 70px; }
      .container-wrap .content-wrap .main-content .reply-content .reply-list .reply-item .avatar img {
        border-radius: 5px;
        height: 50px;
        width: 50px; }
    .container-wrap .content-wrap .main-content .reply-content .reply-list .reply-item .title {
      color: #6e6e6e; }
    .container-wrap .content-wrap .main-content .reply-content .reply-list .reply-item .item-content {
      padding-top: 5px;
      padding-left: 70px; }
      .container-wrap .content-wrap .main-content .reply-content .reply-list .reply-item .item-content .item-body {
        font-size: 14px; }
        .container-wrap .content-wrap .main-content .reply-content .reply-list .reply-item .item-content .item-body p {
          word-wrap: break-word;
          word-break: normal; }
      .container-wrap .content-wrap .main-content .reply-content .reply-list .reply-item .item-content .item-footer .comment-open {
        background-color: #499ef3 !important;
        color: white !important;
        border: #3c7dc3 !important; }
      .container-wrap .content-wrap .main-content .reply-content .reply-list .reply-item .item-content .item-footer .btn {
        color: #6e6e6e;
        padding: 0;
        width: 48px;
        border: 1px solid #f0f0f0;
        line-height: 28px; }
      .container-wrap .content-wrap .main-content .reply-content .reply-list .reply-item .item-content .item-footer .date {
        color: #6e6e6e; }
      .container-wrap .content-wrap .main-content .reply-content .reply-list .reply-item .item-content .item-footer .show-comment-btn {
        background-color: #f5f5f5;
        border: 1px solid #f0f0f0; }
    .container-wrap .content-wrap .main-content .reply-content .reply-list .reply-item .reply-comment-wrap {
      margin-top: 10px;
      padding-left: 70px; }
      .container-wrap .content-wrap .main-content .reply-content .reply-list .reply-item .reply-comment-wrap .reply-comment .comments-body {
        display: block; }
        .container-wrap .content-wrap .main-content .reply-content .reply-list .reply-item .reply-comment-wrap .reply-comment .comments-body .comment-item:first-child {
          border-top: none;
          padding-top: 10px; }
        .container-wrap .content-wrap .main-content .reply-content .reply-list .reply-item .reply-comment-wrap .reply-comment .comments-body .comment-item {
          display: block;
          border-top: 1px solid #e6e6e6;
          padding-top: 10px; }
          .container-wrap .content-wrap .main-content .reply-content .reply-list .reply-item .reply-comment-wrap .reply-comment .comments-body .comment-item .comment-user {
            font-size: 12px; }
          .container-wrap .content-wrap .main-content .reply-content .reply-list .reply-item .reply-comment-wrap .reply-comment .comments-body .comment-item .comment-content {
            font-size: 16px;
            color: #0f0f0f; }
            .container-wrap .content-wrap .main-content .reply-content .reply-list .reply-item .reply-comment-wrap .reply-comment .comments-body .comment-item .comment-content p {
              word-wrap: break-word;
              word-break: normal; }
          .container-wrap .content-wrap .main-content .reply-content .reply-list .reply-item .reply-comment-wrap .reply-comment .comments-body .comment-item .avatar {
            float: left;
            display: block; }
            .container-wrap .content-wrap .main-content .reply-content .reply-list .reply-item .reply-comment-wrap .reply-comment .comments-body .comment-item .avatar img {
              width: 40px;
              height: 40px; }
          .container-wrap .content-wrap .main-content .reply-content .reply-list .reply-item .reply-comment-wrap .reply-comment .comments-body .comment-item .title {
            float: left; }

/*# sourceMappingURL=post.css.map */
