@import "common";
@import "parts/login-modal";
@import "parts/fixed-btn-group";
@import "parts/navbar";
@import "parts/modal";

@media (max-width: $screen-sm) {
  .container-wrap {
    .content-wrap {
      .main-content {
        .reply-content {
          .item-content{
            padding-left: 0 !important;
          }
          .reply-comment-wrap{
            padding-left: 0 !important;
          }
        }
      }
    }
  }
}

@media (max-width: $screen-md) {

}

@media (max-width: $screen-lg) {

}

.container-wrap {
  .content-wrap {
    .main-content {
      padding-bottom: 30px;
      .post-title{
        margin-top: -10px;
      }
      .content{
        img{
          max-width: 100% !important;
          position: static !important;
        }
        p,li,b,span,ol,u,pre,div{
          position: static !important;
          font-size: 15px !important;
          line-height: 16px !important;
        }
        word-wrap:break-word;
      }
      .post-content{
        .footer{
          color: #999;
          font-size: 12px;
          margin-top: 20px;
          a{
            color: inherit;
          }
          span:first-child{
            padding-left: 0;
          }
          span{
            padding-left: 10px;
          }
        }
      }
      .reply-content {
        .reply-head {
          border-bottom: $border1;
          padding-top: 50px;
        }
        .reply-list {
          .reply-item {
            .item-body{
              img{
                max-width: 100% !important;
                position: static !important;
              }
              p,li,b,span,ol,u,pre,div{
                position: static !important;
                font-size: 15px !important;
                line-height: 16px !important;
              }
              word-wrap:break-word;
            }
            &:first-child {
              border-top: none;
            }
            padding-top: 20px;
            border-top: $border1;
            padding-bottom: 20px;
            .avatar {
              display: block;
              float: left;
              width: 70px;
              img {
                border-radius: 5px;
                height: 50px;
                width: 50px;
              }
            }
            .title {
              color: #6e6e6e;
            }
            .item-content {

              padding-top: 5px;
              padding-left: 70px;
              .item-body {
                font-size: 14px;
                p {
                  word-wrap: break-word;
                  word-break: normal;
                }
              }
              .item-footer {
                .comment-open {
                  background-color: #499ef3 !important;
                  color: white !important;
                  border: #3c7dc3 !important;
                }
                .btn {
                  color: #6e6e6e;
                  padding: 0;
                  width: 48px;
                  border: 1px solid #f0f0f0;
                  line-height: 28px;
                  margin-left: 5px;
                  &:first-child{
                    margin-left: 0;
                  }
                }
                .date {
                  color: #6e6e6e;
                  margin-bottom: 0;
                  margin-top: 13px;
                  font-size: 12px !important;
                }
                .show-comment-btn{
                  background-color: #f5f5f5;
                  border: 1px solid #f0f0f0;
                }
              }
            }
            .reply-comment-wrap {
              margin-top: 10px;
              padding-left: 70px;
              .reply-comment {
                .comments-body {
                  display: block;
                  .comment-item:first-child {
                    border-top: none;
                    padding-top: 10px;
                  }
                  .comment-item {
                    display: block;
                    border-top: $border1;
                    padding-top: 10px;
                    .comment-user {
                      font-size: 12px;
                    }
                    .comment-content {
                      font-size: 16px;
                      color: #0f0f0f;
                      p {
                        word-wrap: break-word;
                        word-break: normal;
                      }
                    }
                    .avatar {
                      float: left;
                      display: block;
                      img {
                        width: 40px;
                        height: 40px;
                      }
                    }
                    .title {
                      float: left;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}