@import "common";

.user-content{
  padding: 0;
  .user-head{
    .head{
      border-bottom: $border1;
      padding: 0 0 20px 20px;
      .avatar{
        display: block;
        float: left;
        img{
          border-radius: 10px;
          width: 100px;
          height: 100px;
        }
      }

      .user-info{
        float: left;
        padding-left: 20px;
        h3{
          margin-top: 0;
        }
      }
    }
    .body{
      padding: 10px 20px;
      border-bottom: $border1;
      span{
        font-size: 15px;
        color: #8c8c8c;
        padding-right: 20px;
        b{
          color: #656565;
        }
      }
    }
    .footer{
      .nav-select{
        display: none;
        .dropdown-menu{
          border-top: $border1;
          width: 100%;
          li{
            padding: 5px;
          }
        }
      }
      border-bottom: $border1;
      .nav{
        li{
          a{
            border-radius: 0;
            background-color: transparent;
          }
        }
        .active{
          a{
            color: #337ab7;
            border-bottom: 2px solid #337ab7;
            .badge{
              background-color: #777;
              color: #fff;
            }
          }
          &:hover{
            color: #23527c;
          }
        }
      }
    }
  }
  .user-center-tab{
    padding-bottom: 40px;
    .tab-content{
      padding: 0 20px;

      .mod-body{
        .title{
          width: 100%;
          font-size: 16px;
        }
        .content{
          & > *{
            float: left;
          }
          p{
            padding: 5px;
            font-size: 15px;
          }
        }
        .date{
          font-size: 14px;
          color: #555;
        }
        font-size: 16px;
        .item{
          padding: 5px 0;
        }
      }

      .tab-pane{
        .mod{
          &:first-child{
            border-top: none;
          }
          border-top: $border1;
          ul{
            li{
              padding-top: 10px;
              border-bottom: $border1;
            }
            li:last-child{
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}
